.resource-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px; /* Fixed width for consistency */
  height: auto; /* Adjust height based on content */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items at the top */
  align-items: center; /* Center items horizontally */
  color: black;
}


.resource-card h3 {
  margin: 8px 0; /* Add some vertical spacing */
  font-size: 1.5em; /* Adjust font size as needed */
}

.resource-card p {
  margin: 0 0 16px;
  font-size: 1em; /* Ensure readability */
}

.resource-card a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold; /* Make links stand out */
}

.resource-card a:hover {
  text-decoration: underline;
}
